<h1>Listing bjs</h1>

<table>
  <tr>
    <th>Bj num</th>
    <th>Class name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bjs.each do |bj| %>
  <tr>
    <td><%= bj.bj_num %></td>
    <td><%= bj.bj_name %></td>
    <td><%= link_to 'Show', bj %></td>
    <td><%= link_to 'Edit', edit_bj_path(bj) %></td>
    <td><%= link_to 'Destroy', bj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bj', new_bj_path %>
