<p id="notice"><%= notice %></p>

<p>
  <b>Bj num:</b>
  <%= @bj.bj_num %>
</p>

<p>
  <b>Class name:</b>
  <%= @bj.bj_name %>
</p>


<%= link_to 'Edit', edit_bj_path(@bj) %> |
<%= link_to 'Back', bjs_path %>
